<%- include("partials/head") %>
  </head>

  <body>
    <%- include("partials/nav") %>
      <h1>Bookings</h1>
      <a href="/">Go to Home</a>
      <%- include("partials/footer") %>
  </body>

  </html>