<%- include("partials/head") %>
  </head>

  <body>
    <%- include("partials/nav") %>
      <main>
        <form action="/add-home" method="POST">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required>

          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>

          <label for="price">Price:</label>
          <input type="number" id="price" name="price" required>

          <button type="submit">Add Home</button>
        </form>
      </main>
      <%- include("partials/footer") %>
  </body>

  </html>